<template>
  <div class="home">
    <div v-for="(city, index) in cities" :key="index">
      <weather :woeid="woeid[index]" v-if="typeof woeid[index] !== 'undefined'"></weather>
      <p v-else>Loading...</p>
    </div>
  </div>
</template>

<script>
import weather from '@/mixins/weather'
import Weather from '@/components/Weather'

export default {
  name: 'home',

  mixins: [weather],

  components: {
    Weather
  },

  data: function () {
    return {
      cities: ['Istanbul', 'Berlin', 'London', 'Helsinki', 'Dublin', 'Vancouver'],
      woeid: [],
      loading: true
    }
  },

  created () {
    this.fetchDefaultWeather()
  },

  methods: {
    async fetchDefaultWeather () {
      for (var i = this.cities.length - 1; i >= 0; i--) {
        this.findWoeid(this.cities[i])
          .then(r => this.woeid.push(r.data[0].woeid))
      }
    }
  }
}
</script>
