<template>
  <div class="search">
    <div v-if="woeid">
      <weather :woeid="woeid"></weather>
    </div>
    <div v-else>
      <p v-if="error">No results were found. Try changing the keyword!</p>
      <p v-else>Loading...</p>
    </div>
  </div>
</template>

<script>
import weather from '@/mixins/weather'
import Weather from '@/components/Weather'

export default {
  name: 'Search',

  mixins: [weather],

  components: {
    Weather
  },

  data: function () {
    return {
      error: false,
      woeid: null
    }
  },

  created () {
    this.getWeather()
  },

  methods: {
    async getWeather () {
      this.findWoeid(this.$route.params.keyword)
        .then(
          (response) => {
            try {
              this.woeid = response.data[0].woeid
            } catch(err) {
              this.error = true
            }
          },
          (error) => { this.error = error }
        )
    },
  }
}
</script>
