<template>
  <div class="weather">
    <weather-full woeid="$route.params.woeid"></weather-full>
  </div>
</template>

<script>
import WeatherFull from '@/components/WeatherFull'

export default {
  name: 'weather',

  components: {
    WeatherFull
  },

}
</script>
