<template>
  <div class="search">
    <form @submit.prevent="handleSubmit">
      <input type="search" v-model="query">
      <button type="submit">search</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Search',

  data() {
    return {
      query: this.$route.params.keyword
    }
  },

  methods: {
    handleSubmit() {
      this.$router.push({ name: 'search', params: { keyword: this.query } })
    }
  }
}
</script>
