<template>
  <div class="widget-city-weather">
    <div v-if="weather">
      <router-link :to="{ name: 'weather', params: { woeid: this.woeid } }">
        <h2>{{ weather.title }}</h2>
        <img :src="'https://www.metaweather.com/static/img/weather/png/64/' + weather.consolidated_weather[0].weather_state_abbr + '.png'" />
        <p>{{ roundFloat(weather.consolidated_weather[0].the_temp) }}</p>
        <p>Min: {{ roundFloat(weather.consolidated_weather[0].min_temp) }}</p>
        <p>Max: {{ roundFloat(weather.consolidated_weather[0].max_temp) }}</p>
      </router-link>
      <br />
    </div>
    <p v-else>Loading...</p>
  </div>
</template>

<script>
import helper from '@/mixins/helper'
import weather from '@/mixins/weather'

export default {
  name: 'Weather',

  mixins: [weather, helper],

  props: {
    woeid: Number
  },

  data: function () {
    return {
      weather: null
    }
  },

  created () {
    this.getWeather()
  },

  methods: {
    async getWeather () {
      const { data } = await this.fetchWeather(this.woeid)
      this.weather = data
    }
  }
}
</script>
