<template>
  <div class="widget-city-weather">
    <div v-if="weather && !error">
      <h2>{{ weather.title }}</h2>
      <p>Sunset: {{ weather.sun_rise }}</p>
      <p>Sunrise {{ weather.sun_set }}</p>
      <div v-for="(w, index) in weather.consolidated_weather" :key="index">
        <p><strong>{{ getDayName(w.applicable_date, index) }}</strong></p>
        <img :src="'https://www.metaweather.com/static/img/weather/png/64/' + w.weather_state_abbr + '.png'" />
        <p>{{ w.weather_state_name }}</p>
        <p>{{ roundFloat(w.the_temp) }}</p>
        <p>Min: {{ roundFloat(w.min_temp) }}</p>
        <p>Max: {{ roundFloat(w.max_temp) }}</p>
        <p>Wind Direction Compass: {{ w.wind_direction_compass }}</p>
        <p>Wind Speed: {{ roundFloat(w.wind_speed) }}</p>
        <p>Wind Direction: {{ roundFloat(w.wind_direction) }}</p>
        <p>Air Pressure: {{ roundFloat(w.air_pressure) }}</p>
        <p>Humidity: {{ roundFloat(w.humidity) }}</p>
      </div>
    </div>
    <div v-else>
      <p v-if="error">Somthing went wrong!</p>
      <p v-else>Loading...</p>
    </div>
  </div>
</template>

<script>
import helper from '@/mixins/helper'
import weather from '@/mixins/weather'

export default {
  name: 'WeatherFull',

  mixins: [weather, helper],

  data: function () {
    return {
      weather: null,
      error: false
    }
  },

  created () {
    this.getWeather()
  },

  methods: {
    async getWeather () {
      this.fetchWeather(this.$route.params.woeid)
        .then(
          (response) => { this.weather = response.data },
          (error) => { this.error = error }
        )
    }
  }
}
</script>
