<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <search></search>
    </div>
    <router-view :key="$route.fullPath"/>
  </div>
</template>

<script>
import Search from '@/components/Search'

export default {
  name: 'App',

  components: {
    Search
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
